& when (@media-common = true) {
    .demo-result-container {
        border: 1px solid @color-layout-primary;
        padding: 2rem;

        h2 {
            font-weight: bold;
        }

        ul {
            padding: 0;
            list-style-type: none;

            li {
                font-size: 2rem;
                word-break: break-word;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .demo-result-container {
        margin: auto 3rem;
    }
}

