<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Medvids\AskQuestion\Model\ResourceModel\AskQuestion\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">medvids_ask_question</argument>
            <argument name="resourceModel" xsi:type="string">Medvids\AskQuestion\Model\ResourceModel\AskQuestion</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ask_question_listing_data_source" xsi:type="string">Medvids\AskQuestion\Model\ResourceModel\AskQuestion\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ask_question_update_quantity" xsi:type="object">
                    Medvids\AskQuestion\Console\Command\UpdateQuantity
                </item>
            </argument>
        </arguments>
    </type>
</config>